.add_button
  border none

.button_filler
  display flex
  flex 1 1

.button_group_show
  flex 0 0 60px !important

.button_group
  display flex
  flex 0
  overflow hidden
  transition: flex .5s ease-out;

.button_container
  display flex
  justify-content: flex-end;