.add_button
  border: none !important;
  cursor pointer !important;
  z-index 10001;
  padding-right: 0.5em !important
  padding-left: 0.5em !important

.button_filler
  display flex
  flex 1 1

.button_group_show
  flex 0 0 4.5em !important

.button_group
  display flex
  flex 0
  overflow hidden
  transition: flex .5s ease-out;

.button_container
  display flex
  justify-content: flex-end;
