:global {
  body,
  html,
  #app-mount {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  button {
    overflow: hidden !important;
  }

  .full_height {
    height: 100%;
  }

  .ant-btn,
  .ant-input {
    font-size: 1em !important;
  }

  .anticon-delete:hover i svg {
    fill: #ff4d4f
  }

  ::-webkit-scrollbar-thumb {
    background-color: hsla(0, 0%, 100%, .4);
    background-clip: padding-box;
    border: 5px solid transparent;
    border-radius: 7px;
  }

  ::-webkit-scrollbar {
    size: 13px;
  }

  .DraftEditor-root {
    margin: 0 1em;
  }

  .DraftEditor-root,
  .DraftEditor-editorContainer,
  .public-DraftEditor-content {
    height: 100%;
  }

  .jodit_container {
    font-size: 1em !important;
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 100% !important;
    background: transparent !important;
    border: none !important;

    .jodit_toolbar {
      font-size: 1em;
    }

    .jodit_wysiwyg,
    .jodit_workplace {
      display: flex;
      flex-direction: column;
      flex: 1;
      min-height: 100% !important;
      background: transparent !important;
      border: none !important;
    }

    .jodit_toolbar .jodit_toolbar_btn {
      min-width: 2.29em;
      height: 2.29em;
      line-height: 2.29em;
    }

    .jodit_workplace,
    .jodit_toolbar,
    .jodit_statusbar,
    .jodit_toolbar > li.jodit_toolbar_btn.jodit_toolbar_btn-separator,
    .jodit_toolbar > li.jodit_toolbar_btn.jodit_toolbar_btn-break {
      border-color: transparent;
    }

    .jodit_toolbar .jodit_toolbar .jodit_toolbar {
      font-size: 1.2em !important;
    }

    .jodit_dark_theme .jodit_tabs .jodit_tabs_buttons>a.active {
      background-color: transparent;
    }

    .jodit_toolbar,
    .jodit_statusbar {
      padding: 0.5em !important;
    }

    .jodit_toolbar_list>.jodit_toolbar li.jodit_toolbar_btn>a {
      padding: 0.5em 1em;
    }

    .jodit_icon {
      width: 1em;
      height: 1em;
      font-size: 1.1em;
    }

    .jodit_icon,
    .jodit_toolbar .jodit_toolbar_btn > a {
      fill: #8e8e8e !important;
      color: #8e8e8e;
    }

    .jodit_toolbar .jodit_toolbar_btn.jodit_with_dropdownlist {
      padding: 0 0.5em;
    }

    .jodit_wysiwyg {
      color: #d3d3d3;
    }

    .jodit_toolbar > li.jodit_toolbar_btn.jodit_with_dropdownlist .jodit_with_dropdownlist-trigger {
      border-top-color: #d3d3d3;
    }

    .jodit_placeholder {
      color: #d3d3d3;
    }

    .jodit_form label {
      margin: 1em 0;
    }

    .jodit_disabled,
    .jodit_dark_theme .jodit_toolbar_list > .jodit_toolbar {
      background-color: #1c262a !important;
      font-size: 1em;
    }

    .jodit_colorpicker a:hover svg {
      fill: #d3d3d3 !important;
    }

    .jodit_colorpicker a svg {
      fill: #8e8e8e !important;
    }

    .jodit_button {
      padding: 0 1.5em !important;
      border-radius: 0.3em !important;
      font-size: 1em !important;
      text-align: center;
      margin: 0;
    }

    .jodit_form {
      color: inherit !important;
    }
    .jodit_tabs_buttons {
      margin: 1.2em 0 !important;
    }
    .jodit_toolbar_container {
      position: sticky;
      z-index: 3;
      top: 0;
      left: auto;
    }

    .jodit_dark_theme .jodit_toolbar li.jodit_toolbar_btn>a:hover {
      background-color: transparent;
    }

    .jodit_dark_theme .jodit_toolbar li.jodit_toolbar_btn.jodit_toolbar_btn-break {
      margin: 0.8em 0 !important;
    }
  }

  .jodit_toolbar_btn .jodit_toolbar_popup {
    font-size: 1em !important;
  }

  .jodit_toolbar_popup > div {
    width: 13em !important;
  }
  .jodit_toolbar_popup {
    border-radius: 0.2em !important;
    background-color: #1c262a !important;
    font-size: 0.8em !important;
    color: #d3d3d3 !important;
    border: 1px solid #747474 !important;
  }
}

