$mainColor = #00BFA5;
$colorThirdMain = #cf181b;
$mainOpposite = #fff;
$g-divider-color = #f3f3f3;
$g-divider-size = 1px;
$g-font-family = "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
  Helvetica, Arial, "Lucida Grande", sans-serif;
$g-page-padding-y = 40px;
$g-page-padding-x = 24px;
$g-page-min-width = 752px + ($g-page-padding-x * 2);
$g-h1-font-size = 36px;
$g-h1-color = #e7e7e7;

$g-parks-sider-bg = #0f192d;
$g-parks-padding-y = 36px;
$g-parks-padding-x = 10px;
