@import '../../styles/variables'

.footer {
  height: 1em;
}

.toolbar {
  height: 3em;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 0.9em;
}

:global
  .DraftJs__buttons_buttonWrapper {
    display: inline-block
  }

  .DraftJs__buttons_active {
    background: rgb(28, 38, 42);
    color: #444;
    svg {
      fill: #444;
    }
  }
  .DraftJs__buttons_button {
    padding: 1px 0;
    background: rgb(36, 46, 50)
    color: #888
    display flex
    justify-content center
    align-items center
    fontSize: 18px
    border: 0
    paddingTop: 5px
    verticalAlign: bottom
    // height: 34px
    width: 36px

    &:hover {
      background: rgb(28, 38, 42)
      outline: 0
    }

    &:focus {
      background: #f3f3f3
      outline: 0
    }

    svg {
      fill: #888
    }
  }
